__pycache__/
.deps/
.libs/
.vscode/
*.build
*.changes
*.deb
*.dsc
*.egg-info/
*.in
*.la
*.lineno
*.lo
*.mod
*.o
*.orig
*.pp
*.pyc
*.rpm
*.so
*.tar.gz
*.tgz
*.xz
*~
/.vagrant/
/autom4te.cache/
/m4/
/python/build/
/python/dist/
/src/**/Makefile
/zabbix-*/
aclocal.m4
ar-lib
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
libtool
ltmain.sh
Makefile
missing
stamp-h1
zabbix_agent_bench
