module libzbxsystemd 1.0;

require {
        type zabbix_agent_t;
        type system_dbusd_t;
        type init_t;
        type file_type;
        class unix_stream_socket connectto;
        class dbus send_msg;
        class service status;
        class system status;
}
#============= init_t ==============
allow init_t zabbix_agent_t:dbus send_msg;

#============= zabbix_agent_t ==============

allow zabbix_agent_t system_dbusd_t:unix_stream_socket connectto;
allow zabbix_agent_t system_dbusd_t:dbus send_msg;
allow zabbix_agent_t init_t:dbus send_msg;
allow zabbix_agent_t init_t:system status;
allow zabbix_agent_t init_t:service status;
allow zabbix_agent_t file_type:service status;
